<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>个人中心-修改手机</title>
    <link rel="stylesheet" href="../../_R/css/font-awesome.css">
    <link rel="stylesheet" href="../../_R/css/sui.css">
    <link rel="stylesheet" href="../../_R/css/swiper.min.css">
    <link rel="stylesheet" href="../../_R/css/main.css">
</head>
<body class="page page-sales-changeMobile">
    <!-- 标题栏 -->
    <header class="bar bar-nav theme-dark">
        <a class="icon icon-left pull-left back color-white"></a>
        <h1 class="title">个人中心-修改手机</h1>
    </header>
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item external " href="index.html">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item external" href="edit.html">
            <span class="icon icon-edit"></span>
            <span class="tab-label">录入资料</span>
        </a>
        <a class="tab-item external" href="approvalList.html">
            <span class="icon icon-search"></span>
            <span class="tab-label">审查核实</span>
        </a>
        <a class="tab-item external active" href="#">
            <span class="icon icon-me"></span>
            <span class="tab-label">个人中心</span>
            <span class="badge">2</span>
        </a>
    </nav>
    <!-- 这里是页面内容区 -->
    <div class="content">
        <p class="text-center">修改绑定手机</p>
        <div class="list-block m-t-0">
            <ul>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">
                                <img src="../../_R/images/icon/phone.jpg" class="img-size-1"
                                     alt="phone icon">
                            </div>
                            <div class="item-input row no-gutter">
                                <input type="number" placeholder="请输入新手机号码" v-model="mobile" class="color-white col-60">
                                <a href="javascript:void(0)" v-on:click="getSmsVerCode" class="button button-fill button-big bg-purple col-40">获取验证码</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">
                                <img src="../../_R/images/icon/volidCode.jpg" class="img-size-1"
                                     alt="lock icon">
                            </div>
                            <div class="item-input">
                                <input type="text" v-model="verCode" placeholder="请输入手机短信中的验证码" class="color-white width-full">
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="content-block">
            <!--第一步：验证-->
            <!--<a href="javascript:void(0)"  class="button button-fill button-big bg-purple">验证</a>-->
            <!--第二步：绑定-->
            <a href="javascript:void(0)" class="button button-fill button-big bg-purple">绑定</a>
        </div>
    </div>

    <script src="../../_R/js/lib/zepto.js"></script>
    <script src="../../_R/js/lib/sm.js"></script>
    <script src="../../_R/js/lib/vue.min.js"></script>
    <script src="../../_R/js/ComData.js"></script>
    <script>
        //begin-------------------
        var vue = new Vue({
            el: "#cnt",
            data: {
                state: 0,//0.验证原来的手机号 1.绑定新的手机号
                mobile: "",
                verCode: ""
            },
            methods: {
                initData: function () {

                },
                //获取手机短信验证码
                getSmsVerCode: function () {
                    if ($.trim(vue.mobile) == "") { popMsg("手机号码不能为空"); return isvaid; }
                    $.post(webapiUrl + "/api/BaseWebApi/SendSmsCode", { mobile: vue.mobile, sourceType: 2 }, function (data) {
                        if (data.Code != 1) {
                            $.alert(data.Msg);
                        }
                    }, "json");
                },
            },
            created: function () {
                this.initData();
            }
        });
        //end-------------------
    </script>
    <script>
        (function ($) {
            CheckLogin();
        })(Zepto);
        //初始化sui组件
        $.init();
    </script>

</body>
</html>
