@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.NavName = "RemindRule";
}
@section css
{
    <link href="~/_R/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
}
@section js
{
    <!-- Bootstrap table -->
    <script src="~/_R/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/_R/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="~/_R/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            //1.初始化Table
            var oTableObj = DFCommon.TableInit("#formSearch", null, false);
            oTableObj.Init();
            //新增数据click事件注册
            $("#btn_add").click(function () {
                $("#form2").initValue({ CompanyName: "", Id: 0 });
                $('#myModal').modal({
                    toggle: true
                })
            });
            //删除数据click事件注册
            $("#btn_delete").click(function () {
                oTableObj.Delete("@Url.Action("Delete", "RemindRule")");
            });

            $("#form2").initValidform(function () {
                var postData = $("#form2").data("row");
                postData = $("#form2").serializeObject(postData);
                if ($("#End").is(":hidden")) {
                    postData.End = 0;
                }
                DFCommon.ajax({
                    type: 'POST',
                    url: "@Url.Action("AddOrEdit", "RemindRule")",
                    data: postData,
                    dataType: "json",
                    success: function (data, res) {
                        if (res.Code == 1)
                            MsgBox.Success("保存成功", "", true);
                        else {
                            MsgBox.Error("错误", res);
                        }
                    }
                });
                
            });

        });
        window.actionEvents = {
            'click .edit': function (e, value, row, index) {
                $("#form2").initValue(row);
                $("#form2").data("row", row);
                if (row.End == 0) {
                    $("#dEnd").hide();
                    $("#End").val(1);
                } else {
                    $("#dEnd").show();
                }
                $("#Remark").html(row.Remark);

            }
        };
        function fat_UnitTyep(value, row, index) {
            return value == 1 ? "天" : "月";
        }
        function fat_oper(value, row, index) {
            var html = '<a  data-toggle="modal" data-target="#myModal" class="edit btn btn-link " data-role="Edit">编辑</a>';
            return html;
        }
    </script>
}
<div class="panel-body" style="padding:0px;margin:5px;">
    <form id="formSearch" class="form-horizontal" method="post" action="@Url.Action("GetAjaxList", "RemindRule")" data-query="#btn_query" data-table="#tb_roles"></form>


    <div id="toolbar" class="btn-group">
        @*<button id="btn_add" type="button" class="btn btn-primary" data-role="Add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>*@
        @*<button id="btn_delete" type="button" class="btn btn-warning" data-role="Delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>*@
    </div>
    <table id="tb_roles" class="table table-hover editable">
        <thead>
            <tr>
                @*<th data-checkbox="true"></th>*@
                <th data-field="Remark" data-halign="center" data-align="center">规则说明</th>
                <th data-field="Start" data-halign="center" data-align="center">开始时间</th>
                <th data-field="End" data-halign="center" data-align="center">结束时间</th>
                <th data-field="UnitTyep" data-halign="center" data-align="center" data-formatter="fat_UnitTyep">时间单位</th>
                <th data-field="FirstDay" data-halign="center" data-align="center">频次N天/次</th>
                <th data-field="ReplaceText" data-halign="left" data-align="left">提醒内容</th>
                <th data-formatter="fat_oper" data-events="actionEvents" data-halign="center" data-align="center">操作</th>
            </tr>
        </thead>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form2" class="form-horizontal" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h5 id="Remark"></h5>
                    </div>
                    <div class="modal-body">


                        <div class="form-group">
                            <label class="control-label col-md-3">开始时间</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="Start" datatype="/^-?(?!0)\d+$/">
                            </div>
                        </div>
                        <div class="form-group" id="dEnd">
                            <label class="control-label col-md-3">结束时间</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="End" datatype="/^-?(?!0)\d+$/" id="End">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">频次天/次</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="FirstDay" datatype="/^[1-9]\d*$/" id="FirstDay">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">提醒内容</label>
                            <div class="col-md-8">
                                <textarea name="ReplaceText" class="form-control" datatype="*1-1000" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">说明</label>
                            <div class="col-md-9" style="color:red;">
                                {DealersName}=实际交易方（车行名称）<br />{ApplicantName}=申请人姓名<br />
                                {Day}=天<br />
                                距离多少天开始提醒使用负数

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-10 text-center">
                                <div>
                                    <input type="hidden" name="Id" value="0" />
                                    <button type="submit" class="btn btn-primary" id="btnsave" data-role="Add">保存</button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


