@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>请选择用户类型</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link href="/_R/css/sui.css" rel="stylesheet" />
    <link href="/_R/css/main.css" rel="stylesheet" />
</head>
<body class="page-index bg-color">
    <header class="bar bar-nav theme-dark">
        <a class="icon icon-left pull-left back color-white"></a>
        <h1 class="title">请选择用户类型</h1>
    </header>
    <div class="content">
        <img class="center-block img-responsive m-t-2" src="/_R/images/home_clothes.png">
        <p class="text-center m-t-1"> 请选择用户类型</p>
        <a class="bg-purple center-block" href="/wx/_template/UserAgentTemplate.html">金融业代</a>
        <a class="bg-purple center-block" href="/wx/_template/UserSaleTemplate.html">销售顾问</a>
        <a class="bg-purple center-block" href="/wx/_template/UserClientTemplate.html">贷款客户</a>
    </div>
    <script src="_R/js/lib/zepto.min.js"></script>
    <script src="_R/js/lib/sm.js"></script>
    <script src="_R/js/lib/vue-tap-click.js"></script>
    <script src="_R/js/lib/storage.js"></script>
    <script src="_R/js/Common.js"></script>
    <script>
        $(function () {
            DFCommon.logout();
        });
    </script>
</body>
</html>

