<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }
    .no-access{width:50%; text-align:center; margin:0 auto; margin-top:10%;}
    .no-access h2{color:#666;}
</style>
<div class="no-access">
    <img src="~/_R/img/cry.jpg" />
    <h2>对不起，您没有权限进行该项操作！</h2>
    @*<a href="/home/login">重新登录</a>*@
</div>

