
@{
    ViewBag.Title = "金融业代首页";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>金融业代首页</title>
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/_R/css/sui.css">
    <link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link href="~/_R/css/main.css" rel="stylesheet">
    <style>
        .row img {
            width: 2.5rem;
        }

            .row img.larstImg {
                position: relative;
                left: 0.6rem;
            }
    </style>
</head>
<body class="page">
    <!-- 标题栏 -->
    <header class="bar bar-nav theme-dark">
        <a class="icon icon-left pull-left back color-white"></a>
        <h1 class="title">A金融业代首页</h1>
    </header>
    <!-- 这里是页面内容区 -->
    <div class="content">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="img-responsive" src="http://placehold.it/350x150"> </div>
                <div class="swiper-slide"><img class="img-responsive" src="http://placehold.it/360x150"> </div>
                <div class="swiper-slide"><img class="img-responsive" src="http://placehold.it/370x150"> </div>
                <div class="swiper-slide"><img class="img-responsive" src="http://placehold.it/380x150"> </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="row no-gutter border-bottom">
            <div class="col-50 p-y-1_5 border-right ">
                <a title="录入资料" class="text-center width-full center-block color-content" href="/FinancialBusiness/InputData">
                    <img src="/_R/images/icon/input_data.png"><br>
                    录入资料
                </a>
            </div>
            <div class="col-50  p-y-1_5 ">
                <a title="审核查询" class="text-center width-full center-block color-content" href="/FinancialBusiness/AuditQuery">
                    <img src="/_R/images/icon/check.png"><br>
                    审核查询
                </a>
            </div>
        </div>
        <div class="row no-gutter border-bottom">
            <div class="col-50 p-y-1_5 border-right">
                <a title="客户管理" class="text-center width-full center-block color-content" href="/FinancialBusiness/CustomerManagement">
                    <img src="/_R/images/icon/clients.png"><br>
                    客户管理
                </a>
            </div>
            <div class="col-50 p-y-1_5">
                <a title="个人中心" class="text-center width-full center-block color-content" href="/FinancialBusiness/PersonalCenter">
                    <img class="larstImg" src="/_R/images/icon/me.png"><span class="badge-md ">1</span> <br>
                    个人中心
                </a>
            </div>
        </div>
        <div class="text-center p-y-0-5 color-conten-week absolute width-full" style="bottom: 0">
            学车易技术支持<br>
            <a class="color-conten-week" href="http://www.xuecehyi.com" title="学车易">www.xuecehyi.com</a>
        </div>
    </div>
    <script src="~/_R/js/lib/zepto.js"></script>
    <script src="~/_R/js/lib/sm.js"></script>
    <script src="~/_R/js/lib/knockout-3.4.0.js"></script>
    <script src="http://cdn.bootcss.com/Swiper/3.3.1/js/swiper.min.js"></script>
    <script src="~/_R/js/app.js"></script>

    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
    </script>
</body>
</html>


