@{
    ViewBag.Title = "金融业代录入资料";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>录入资料-业代姓名</title>
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/_R/css/sui.css">
    <link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link href="~/_R/css/main.css" rel="stylesheet">
    <style type="text/css">
        .item-title img {
            height: 1.2rem;
            position: relative;
            top: 0.2rem
        }

        .item-input, .item-input > div {
            position: relative;
        }

        .icon-caret {
            position: absolute;
            right: 0.5rem;
            top: 0.4rem;
        }

        @@media screen and (max-width: 374px) {
            .font-sm-media374 {
                font-size: 0.7rem !important;
            }
        }

    </style>
</head>
<body class="page">
    <!-- 标题栏 -->
    <header class="bar bar-nav theme-dark">
        <a class="icon icon-left pull-left back color-white"></a>
        <h1 class="title">录入资料-业代姓名</h1>
    </header>
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item external " href="index.html">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item external active" href="edit.html">
            <span class="icon icon-edit"></span>
            <span class="tab-label">录入资料</span>
        </a>
        <a class="tab-item external" href="check.html">
            <span class="icon icon-search"></span>
            <span class="tab-label">审查核实</span>
        </a>
        <a class="tab-item external" href="me.html">
            <span class="icon icon-me"></span>
            <span class="tab-label">个人中心</span>
            <span class="badge">2</span>
        </a>
    </nav>
    <!-- 这里是页面内容区 -->
    <div class="content">
        <div class="list-block m-t-0">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <img src="~/_R/images/icon/clients_on.png"
                                 style="height: 1.2rem;position: relative;top: 0.2rem"> 客户信息
                        </div>
                        <div class="item-after"></div>
                    </div>
                </li>

                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">放款金融公司*</div>
                            <div class="item-input">
                                <span class="icon icon-caret"></span>
                                <select class="text-center">
                                    <option>请选择（必选）</option>
                                    <option>某放款金融公司A</option>
                                    <option>某某放款金融公司A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-input row no-gutter">
                                <div class="col-33 border-right">
                                    <span class="icon icon-caret"></span>
                                    <select class="p-l-0 ">
                                        <option>区域</option>
                                        <option>华南</option>
                                        <option>华北</option>
                                    </select>
                                </div>
                                <div class="col-33 border-right">
                                    <span class="icon icon-caret"></span>
                                    <select class=" ">
                                        <option>省份</option>
                                        <option>广东</option>
                                        <option>广西</option>
                                    </select>
                                </div>
                                <div class="col-33">
                                    <span class="icon icon-caret"></span>
                                    <select class=" ">
                                        <option>城市</option>
                                        <option>广州</option>
                                        <option>深圳</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">汽车类型</div>
                            <div class="item-input ">
                                <span class="icon icon-caret"></span>
                                <select>
                                    <option>请选择</option>
                                    <option>小车</option>
                                    <option>火车</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">收单日期</div>
                            <div class="item-input">
                                <input type="date" value="2016-06-30">
                                <span class="icon icon-caret"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">申请人姓名*</div>
                            <div class="item-input">
                                <input type="text" placeholder="申请人姓名（必填）">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">申请人手机</div>
                            <div class="item-input">
                                <input type="number" placeholder="请输入申请人手机">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">身份证号码*</div>
                            <div class="item-input">
                                <input type="number" placeholder="申请人身份证（必填）">
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">共申人姓名</div>
                            <div class="item-input">
                                <input type="text" placeholder="请输入共申人姓名">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">共申人手机</div>
                            <div class="item-input">
                                <input type="number" placeholder="请输入共申人手机">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">担保人姓名</div>
                            <div class="item-input">
                                <input type="text" placeholder="请输入担保人姓名">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">担保人手机</div>
                            <div class="item-input">
                                <input type="number" placeholder="请输入担保人手机">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">贷款产品</div>
                            <div class="item-input">
                                <span class="icon icon-caret"></span>
                                <select class="text-center">
                                    <option>请选择</option>
                                    <option>贷款产品A</option>
                                    <option>贷款产品B</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label font-sm-media374">贷款利息类型</div>
                            <div class="item-input">
                                <span class="icon icon-caret"></span>
                                <select class="text-center">
                                    <option>请选择</option>
                                    <option>贷款利息类型1</option>
                                    <option>贷款利息类型2</option>
                                    <option>贷款利息类型3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <ul class="m-t-1">
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <img src="~/_R/images/icon/book_car_on.png"
                                 style="height: 1.2rem;position: relative;top: 0.2rem"> 车行信息
                        </div>
                        <div class="item-after"></div>
                    </div>
                </li>

                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">实际交易方</div>
                            <div class="item-input">
                                <span class="icon icon-caret"></span>
                                <select class="text-center">
                                    <option>请选择</option>
                                    <option>某实际交易方</option>
                                    <option>某实际交易方A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">放款环节</div>
                            <div class="item-input">
                                <span class="icon icon-caret"></span>
                                <select class="text-center">
                                    <option>请选择</option>
                                    <option>某放款环节</option>
                                    <option>ddd放款环节</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label font-sm-media374">销售顾问姓名</div>
                            <div class="item-input">
                                <input type="text" placeholder="车行销售顾问姓名">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label font-sm-media374">销售顾问手机</div>
                            <div class="item-input">
                                <input type="number" placeholder="车行销售顾问手机">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="m-t-1">
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <img src="~/_R/images/icon/book_car_on.png"
                                 style="height: 1.2rem;position: relative;top: 0.2rem"> 车辆信息
                        </div>
                        <div class="item-after"></div>
                    </div>
                </li>

                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">汽车品牌</div>
                            <div class="item-input">
                                <span class="icon icon-caret"></span>
                                <select class="text-center">
                                    <option>请选择</option>
                                    <option>某汽车品牌</option>
                                    <option>某汽车品牌A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">汽车车型</div>
                            <div class="item-input">
                                <span class="icon icon-caret"></span>
                                <select class="text-center">
                                    <option>请选择</option>
                                    <option>某汽车车型</option>
                                    <option>某汽车车型</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label font-sm-media374">车身价</div>
                            <div class="item-input">
                                <!--todo: 确定单位-->
                                <input type="number" placeholder="单位（元/分）">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">贷款期限</div>
                            <div class="item-input">
                                <input type="date" value="2016-06-30">
                                <span class="icon icon-caret"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <a href="javascript:void(0)" class="button button-fill button-big bg-purple">提交资料</a>
        </div>

    </div>
    <script src="~/_R/js/lib/zepto.js"></script>
    <script src="~/_R/js/lib/sm.js"></script>
    <script src="~/_R/js/lib/knockout-3.4.0.js"></script>
    <script src="http://cdn.bootcss.com/Swiper/3.3.1/js/swiper.min.js"></script>
    <script src="~/_R/js/app.js"></script>

</body>
</html>



