
@{
    ViewBag.Title = "金融业代注册";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>金融业代注册</title>
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/_R/css/sui.css">
    <link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link href="~/_R/css/main.css" rel="stylesheet">
    <style>
        .list-block .item-title.label {
            width: 15%;
            min-width: 2rem;
        }

        .col-50 {
            width: 50% !important;
        }

        .icon-caret {
            position: absolute;
            right: 0.5rem;
            top: 0.4rem;
        }

        .item-input, .item-input > div {
            position: relative;
        }
    </style>
</head>
<body class="page">
    <!-- 标题栏 -->
    <header class="bar bar-nav theme-dark">
        <a class="icon icon-left pull-left back color-white"></a>
        <h1 class="title">注册</h1>
    </header>
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item external " href="index.html">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item external" href="edit.html">
            <span class="icon icon-edit"></span>
            <span class="tab-label">录入资料</span>
        </a>
        <a class="tab-item external" href="check.html">
            <span class="icon icon-search"></span>
            <span class="tab-label">审查核实</span>
        </a>
        <a class="tab-item external active" href="#">
            <span class="icon icon-me"></span>
            <span class="tab-label">个人中心</span>
            <span class="badge">2</span>
        </a>
    </nav>
    <!-- 这里是页面内容区 -->
    <div class="content">
        <div class="list-block m-t-0">
            <ul>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">
                                <img src="~/_R/images/icon/phone.jpg" style="width: 1.5rem"
                                     alt="phone icon">
                            </div>
                            <div class="item-input ">
                                <input type="number" data-bind="value:phone" placeholder="请输入您的手机号码" class="color-white width-full">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">
                                <img src="~/_R/images/icon/volidCode.jpg" style="width: 1.3rem"
                                     alt="phone icon">
                            </div>
                            <div class="item-input row no-gutter">
                                <input type="number" data-bind="value:phone" placeholder="请输入验证码" class="color-white col-50">
                                <a href="javascript:void(0)" data-bind="click:submit" class="button button-fill button-big bg-purple col-50">获取验证码</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">
                                <img src="~/_R/images/icon/lock.jpg" style="width: 1.5rem"
                                     alt="lock icon">
                            </div>
                            <div class="item-input">
                                <input type="text" data-bind="value:pwd" placeholder="请设置您的登录密码" class="color-white width-full">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner">
                            <div class="item-title label">
                                <img src="~/_R/images/icon/lock.jpg" style="width: 1.5rem"
                                     alt="lock icon">
                            </div>
                            <div class="item-input">
                                <input type="text" data-bind="value:pwd" placeholder="请再次输入您的登录密码" class="color-white width-full">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input row no-gutter">
                                <div class="col-25 border-right">
                                    <span class="icon icon-caret"></span>
                                    <select>
                                        <option>区域</option>
                                        <option>华南</option>
                                        <option>华北</option>
                                    </select>
                                </div>
                                <div class="col-25 border-right">
                                    <span class="icon icon-caret"></span>
                                    <select class=" ">
                                        <option>省份</option>
                                        <option>广东</option>
                                        <option>广西</option>
                                    </select>
                                </div>
                                <div class="col-25 border-right">
                                    <span class="icon icon-caret"></span>
                                    <select class=" ">
                                        <option>城市</option>
                                        <option>广州</option>
                                        <option>深圳</option>
                                    </select>
                                </div>
                                <div class="col-25">
                                    <span class="icon icon-caret"></span>
                                    <select class=" ">
                                        <option>分组</option>
                                        <option>小组1</option>
                                        <option>小组2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <a href="javascript:void(0)" class="button button-fill button-big bg-purple">提交</a>
        </div>
    </div>


    <!--<script src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>-->
    <!--<script src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>-->
    <!--<script src="http://cdn.bootcss.com/knockout/3.4.0/knockout-debug.js"></script>-->
    <script src="~/_R/js/lib/zepto.js"></script>
    <script src="~/_R/js/lib/sm.js"></script>
    <script src="~/_R/js/lib/knockout-3.4.0.js"></script>
    <script src="http://cdn.bootcss.com/Swiper/3.3.1/js/swiper.min.js"></script>
    <script src="~/_R/js/app.js"></script>



</body>
</html>


