
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>东富金融</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    @RenderSection("css", required: false)
    

    
</head>
<body class="gray-bg">
    @RenderBody()

   
    @RenderSection("js", required: false)
    @RenderSection("scripts", required: false)
</body>

</html>
