<!-- 这里是页面内容区 -->
<div class="content page-sales-register">
    <div class="list-block m-t-0">
        <ul>
            <li>
                <div class="item-content">

                    <div class="item-inner">
                        <div class="item-title label">
                            <img src="/_R/images/icon/phone.jpg" class="img-size-1"
                                 alt="phone icon">
                        </div>
                        <div class="item-input ">
                            <input type="number" v-model="mobile" placeholder="请输入您的手机号码" class="width-full">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">

                    <div class="item-inner">
                        <div class="item-title label">
                            <img src="/_R/images/icon/volidCode.jpg" class="img-size-1"
                                 alt="phone icon">
                        </div>
                        <div class="item-input row no-gutter">
                            <input type="number" v-model="verCode" placeholder="请输入验证码" class=" col-50">
                            <a href="javascript:void(0)" id="getsms" v-if="status==0" v-tap="getSmsVerCode" class="button button-fill button-big bg-purple col-50">获取验证码</a>
                            <a href="javascript:void(0)" v-if="status==1" class="button button-fill button-big bg-purple col-50" v-text="validtime+'S'"></a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="item-content">

                    <div class="item-inner">
                        <div class="item-title label">
                            <img src="/_R/images/icon/lock.jpg" class="img-size-1"
                                 alt="lock icon">
                        </div>
                        <div class="item-input">
                            <input type="password" v-model="pwd" placeholder="请设置您的登录密码" class=" width-full">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">

                    <div class="item-inner">
                        <div class="item-title label">
                            <img src="/_R/images/icon/lock.jpg" class="img-size-1"
                                 alt="lock icon">
                        </div>
                        <div class="item-input">
                            <input type="password" v-model="confirmPwd" placeholder="请再次输入您的登录密码" class=" width-full">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">

                    <div class="item-inner">
                        <div class="item-title label">
                            <img src="/_R/images/icon/email.jpg" class="img-size-1"
                                 alt="lock icon">
                        </div>
                        <div class="item-input">
                            <input type="text" v-model="email" placeholder="请输入有效电子邮箱" class="width-full">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input bg-icon-drowdown ">
                          
                            <input type="text" id="picker" placeholder="请选择经销商" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <a href="javascript:void(0)" v-tap="submit" id="register" class="button button-fill button-big bg-purple">提交</a>
    </div>
</div>
<script>
    //begin-------------------
    $(function () {
        var vue = new Vue({
            el: "#" + template.PageId,
            data: {
                groupId: 2,
                dealersId: 0,
                mobile: "",
                verCode: "",
                pwd: "",
                confirmPwd: "",
                area: "",
                email: "",
                status: 0,//0启用 1禁用
                validtime: 300,//默认5分钟 300秒
                list: [],
                displayList: []
            },
            methods: {
                init: function () {
                    this.getSmsValidTime();
                },
                //获取手机短信验证码
                getSmsVerCode: function () {
                    var This = this;
                    if ($.trim(This.mobile) == "") { popMsg("请填写注册的手机号"); return; }
                    var reg = /^1(3|4|5|7|8)\d{9}$/ig;
                    if (!reg.test($.trim(This.mobile))) { popMsg("请填写正确的手机号"); return; }
                    if (this.status == 0) {
                        this.status = 1;
                        DFCommon.ajax({
                            type: 'post',
                            url: "/api/BaseWebApi/SendSmsCode",
                            isShowLoading: true,
                            data: { mobile: vue.mobile, sourceType: 1 },
                            success: function (data) {
                                if (data)
                                    This.openTime();
                            }
                        });
                    }
                },
                openTime: function () {
                    var This = this;
                    This.status = 1;
                    var time = setInterval(function () {
                        This.validtime -= 1;
                        if (This.validtime <= 0) {
                            clearInterval(time);
                            This.status = 0;
                        }
                    }, 1000);
                },
                getSmsValidTime: function () {
                    var This = this;
                    DFCommon.ajax({
                        type: 'get',
                        url: "/api/BaseWebApi/GetSmsValidTime",
                        success: function (data) {
                            if (data > 0) This.validtime = parseInt(data, 10) * 60;
                        }
                    });
                },
                CheckMail: function (mail) {
                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (filter.test(mail)) return true;
                    else {
                        return false;
                    }
                },
                isValid: function () {
                    var isvaid = false;
                    var model = vue.$data;
                    var reg = /^1(3|4|5|7|8)\d{9}$/ig;
                    if ($.trim(model.mobile) == "") { popMsg("注册手机号不能为空"); return isvaid; }
                    if (!reg.test($.trim(model.mobile))) { popMsg("请填写正确的手机号"); return isvaid; }
                    if ($.trim(model.verCode) == "") { popMsg("手机号验证码不能为空"); return isvaid; }
                    if ($.trim(model.pwd) == "") { popMsg("登录密码不能为空"); return isvaid; }
                    if ($.trim(model.confirmPwd) == "") { popMsg("确认登录密码不能为空"); return isvaid; }
                    if (model.pwd != model.confirmPwd) { popMsg("登录密码和确认登录密码不一致"); return isvaid; }
                    if ($.trim(model.email) == "") { popMsg("请输入邮箱注册邮箱"); return isvaid; }
                    if (!this.CheckMail($.trim(model.email))) { popMsg("输入邮箱格式错误"); return isvaid; }
                    if (model.dealersId == 0) { popMsg("请选择所在经销商"); return isvaid; }
                    return true;
                },
                submit: function () {
                    if (vue.isValid()) {

                        DFCommon.ajax({
                            type: 'post',
                            url: "/api/FinancialBusiness/UserRegister",
                            isShowLoading: true,
                            data: vue.$data,
                            success: function (data) {
                                $.router.load("#UserSaleLogin", true);
                            }
                        });
                    }
                },
                showPicker: function () {
                    var This = this;
                    $("#picker").picker({
                        toolbarTemplate: '<header class="bar bar-nav">\
                                   <button class="button button-link pull-right close-picker">确定</button>\
                                  <h1 class="title">所在经销商</h1>\
                                  </header>',
                        cols: [
                          {
                              textAlign: 'center',
                              values: this.displayList
                          }
                        ],
                        onClose: function (a) {
                            if (This.list.length > 0)
                                This.dealersId = This.list[a.params.cols[0].activeIndex]
                        }
                    });
                },
            },
            created: function () {
                this.init();
                var This = this;
                DFCommon.ajax({
                    type: 'get',
                    url: "/api/UserSales/GetCustomerManagementList",
                    isShowLoading: true,
                    success: function (data) {
                        var items = data;
                        for (var i = 0; i < items.length; i++) {
                            if (i == 0) This.dealersId = items[i].Id;
                            This.displayList.push(items[i].CompanyName);
                            This.list.push(items[i].Id);
                        }
                        This.showPicker();
                    }
                });
            }
        });
        //end-------------------
    });
</script>
