<?xml version="1.0"?>
<siteconfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <webname>学车易</webname>
  <weburl>http://www.xuecheyi.com/</weburl>
  <webcompany>深圳学车易网络科技有限公司</webcompany>
  <webaddress>广东省深圳市南山区科技园北区紫光信息港B栋203室</webaddress>
  <webtel>400-966-9600</webtel>
  <webfax>-</webfax>
  <webmail>xuecheyi@xuecheyi.com</webmail>
  <webcrod>粤ICP备14080704号-1</webcrod>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>学车易</smsusername>
  <smspassword>54cd81227579cb7d180bed7d168d5d27</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom>service@xuecheyi.com</emailfrom>
  <emailusername>service@xuecheyi.com</emailusername>
  <emailpassword>0D3C2917FC518FA8</emailpassword>
  <emailnickname>深圳学车易网络科技有限公司</emailnickname>
  <filepath>News</filepath>
  <filesave>2</filesave>
  <fileextension>rar,zip,doc,xls,txt</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>学车易</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <imgdomain>http://img.xuecheyi.com</imgdomain>
  <imgpath>/</imgpath>
  <imagesextension>gif,jpg,png,bmp</imagesextension>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>XcyNews</sysencryptstring>
</siteconfig>